.ul {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.li {
  list-style: none;
}

.a {
  text-decoration: none;
  text-align: center;
  color: #2f301d;
  font-weight: bold;
}

.button {
  background-color: transparent;
  border: none;
  text-align: center;
  color: #2f301d;
  font-weight: bold;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
}

/*set the width of ul element when width greater than tablet*/
@media screen and (min-width: 768px) {
  .ul {
    width: 100%;
  }
}

/*media query for tablet and greater sizes*/
@media screen and (max-width: 768px) {
  .ul {
    display: block;
    text-align: center;
  }

  .li {
    margin: auto;
    text-align: center;
    justify-content: center;
  }
}
