.ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  padding: 1em;
}

.li {
  list-style: none;
}

.a {
  text-decoration: none;
  text-align: center;
  justify-content: center;
  color: #2f301d;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .ul {
    display: block;
    text-align: center;
  }
}

.linksContainer {
  display: flex;
  margin: auto;
  width: 100%;
  text-align: center;
  justify-content: center;
}
