.ul {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.li {
  list-style: none;
  margin: auto;
  padding: 0.2em;
}

.a {
  text-decoration: none;
  text-align: center;
  color: #2f301d;
  font-weight: bold;
}

.button {
  background-color: transparent;
  border: none;
  text-align: center;
  color: #2f301d;
  font-weight: bold;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
}

.buttonDispatch {
  display: flex;
  margin: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.p {
  margin: auto 0;
}

.non_field {
  color: red;
  margin: 0.5em 0;
}

/*set the width of ul element when width greater than tablet*/
@media screen and (min-width: 768px) {
  .ul {
    width: 100%;
  }
}

/*media query for tablet and greater sizes*/
@media screen and (max-width: 768px) {
  .ul {
    display: block;
    text-align: center;
  }

  .li {
    margin: auto;
    text-align: center;
    justify-content: center;
  }
}
