.container {
  display: flex;
  flex-direction: column;
  width: 50em;
  height: 50em;
  margin: auto;
  padding: 2em;
  overflow: hidden;
}

.image {
  height: auto;
  width: auto;
  border-radius: 2em;
  animation-duration: 5s;
  animation-name: sliding;
  animation-iteration-count: infinite;
}

@keyframes sliding {
  from {
    margin: 20%;
  }

  50% {
    margin: 1%;
  }

  to {
    margin: 20%;
  }
}
