.container {
  margin: 1em;
}
.carousel {
  width: 100%;
  margin: 1em auto;
}

.carouselBtn {
  display: flex;
  width: 80%;
  margin: 1em auto;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .container {
    display: block;
  }
  .carousel {
    height: auto;
    margin: auto;
    padding: 1em;
  }
  .carouselBtn {
    display: flex;
    margin: 0.5em auto;
    justify-content: space-between;
  }
}
