.container {
  display: block;
}
.carousel {
  display: flex;
  flex-direction: column;
  width: 40em;
  height: 40em;
  margin: auto;
  padding: 2em;
  overflow: hidden;
}

.carouselBtn {
  display: flex;
  margin-top: -8em;
  justify-content: center;
}

.image {
  width: 100%;
  padding: 1em;
  border-radius: 2em;
}
