.footer {
  display: flex;
  padding: 3em;
  bottom: 0;
}

.socialLinks {
  display: block;
  width: 50%;
  padding: 1em;
}

.heading {
  text-align: center;
}

.thumbnails {
  display: flex;
  justify-content: center;
  padding: 1em;
}

.thumbnail {
  margin: 1em;
}

.contactInformation {
  display: block;
  width: 50%;
}

.section {
  display: flex;
}
