.navbar {
  display: flex;
  background-color: #bfbfa7;
  margin: 0;
  padding: 0;
  height: 5em;
  justify-content: space-between;
}

.logo {
  width: 5em;
  height: auto;
  border-radius: 50%;
  padding: 0.5em;
}

.title {
  width: 10em;
  text-align: center;
}
