.header {
  display: flex;
  margin: 2em;
  max-width: 100vw;
}

.logo {
  width: 50%;
}

.links {
  width: 50%;
  text-align: center;
  justify-content: space-between;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .links {
    position: relative;
    float: right;
  }
}
