/*image atom*/
.image {
  width: 100%;
  height: 20em;
  /*padding: 1em;*/
  border-radius: 2em;
  object-fit: cover;
}

/*carouselImage atom*/
.carouselImage {
  height: auto;
  width: auto;
  border-radius: 2em;
}

.animation {
  animation-duration: 10s;
  animation-name: sliding;
  animation-iteration-count: infinite;
}

/*heading atom*/
.h1 {
  color: #2f301d;
  font-weight: bold;
}

/*subheading atom*/
.p {
  color: #bfbfa7;
}

/*animated keyframes for carousel images*/
@keyframes sliding {
  0% {
    margin-left: 80%;
  }

  30% {
    margin: 20%;
  }

  40% {
    margin: 1%;
  }

  50% {
    margin: 1%;
  }

  60% {
    margin: 1%;
  }

  70% {
    margin: 20%;
  }

  100% {
    margin-right: 80%;
  }
}
