/*image atom*/
.image {
  width: 100%;
  margin: auto;
  height: 20em;
  border-radius: 2em;
  object-fit: cover;
}

/*h4Heading atom*/
.h4 {
  margin: auto 1em;
}

/*heading atom*/
.h2 {
  width: 100%;
  text-align: center;
  color: #2f301d;
  padding: 2em;
}

/*title atom*/
.h1 {
  color: #2f301d;
  font-weight: bold;
}

/*subheading atom*/
.p {
  color: #bfbfa7;
  text-align: center;
}

@media screen and (max-width: 400px) {
  /*h4heading atom*/
  .h4 {
    font-size: 1em;
  }
  /*thumbnail atom*/
  .thumbnail {
    width: 4em;
    height: auto;
  }
}

/*media query for screen sizes bigger than 1024px*/
@media screen and (min-width: 1024px) {
  .image {
    height: 40em;
  }
}
